name: 'Terraform Apply'

on:
  workflow_dispatch:
  
env:
  TF_CLOUD_ORGANIZATION: "lorenzdoe"
  TF_CLOUD_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "terraform-workshop"
  CONFIG_DIRECTORY: "./part3/"

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.CONFIG_DIRECTORY }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: "latest" 
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init -input=false -backend-config='address=${{ env.TF_CLOUD_TOKEN }}' -reconfigure

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -input=false -out=tfplan

    - name: Terraform Apply
      run: terraform apply -input=false -auto-approve tfplan

    # Optional step: Upload terraform.tfstate to an artifact
    - name: Upload Terraform State
      uses: actions/upload-artifact@v3
      with:
        name: terraform-state
        path: ${{ env.CONFIG_DIRECTORY }}/terraform.tfstate
        if-no-files-found: error # 'warn' or 'ignore' are also available, 'error' is the default